footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 85px;
    width: 80%;
    height: 100px;
    color: #fff;
    background-color: black;
    text-align: center;
    border-radius: 12px;
}

.login {
    margin: auto;
    width: 40%;
    height: 600px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.login h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.top {
    width: 70%;
    margin: auto;
    margin-top: 50px;
}

.user {
    border: 1px solid #ccc;
    position: relative;
    width: 100%;
    border-radius: 5px;
}

.user input {
    position: relative;
    width: 84.5%;
    height: 40px;
    border: 1px solid #ccc;
    padding-left: 15%;
    border-radius: 5px;

}

.user-icon {
    position: absolute;
    left: 10px;
    top: 25%;
    width: 10%;
    height: 50%;
}


button[ type="submit"] {
    width: 100%;
    height: 40px;
    background-color: #09ec2f;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

/* .continue button {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    background-color: #09ec2f;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.continue button:hover {

    color: #fff;
    opacity: 0.8;
} */

.or {
    display: flex;
    align-items: center;
}

.google button {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.facebook button {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    background-color: #3b5998;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.account {
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.signup {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.signup button {
    height: 40px;
    width: 80%;
    border-radius: 5px;
}

@media only screen and (min-width: 1300px) {
    body {
        background-color: #3fa3aa;
    }

    .login {
        width: 25%;
    }

    .user-icon {
        width: 5%;
        height: 50%;
    }
}


@media only screen and (max-width: 1200px) {
    body {
        background-color: #3fa3aa;
    }

    .login {
        width: 60%;
    }
}

@media only screen and (max-width: 900px) {
    body {
        background-color: #0f9d58;
    }

    .login {
        width: 50%;
    }

    .user-icon {
        width: 7%;
        height: 45%;
    }
}

@media only screen and (max-width: 700px) {
    body {
        background-color: grey;
    }

    .login {
        width: 80%;
    }

    footer {
        width: 80%;
    }
}